body {
  font-family: 'Poppins', sans-serif;
  background-color: #0f172a;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

a {
  color: #5383e8;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #ffd700;
}

button {
  font-family: inherit;
}

input, button {
  outline: none;
}
